<h1>edit post</h1>

<%= form_with model: @post do |f|%>
  <%= f.text_field :title%>
  <%= f.text_area :sentence %>
  <%= f.submit "更新"%>
<% end %>

<script>
new FroalaEditor('#post_sentence', {});
</script>